.navbar{
    width: 92.44%;
    height: 70px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}
.sunstone-div{
    height: 40px;
    margin-top: 10px;
    margin-left: 19px;
    /* padding-top: 20px; */
    display: flex;
    /* display: none; */
    /* justify-content: space-around; */
    /* border: 1px solid black; */
}
.star-icon{
    width: 22px;
    padding-top: 6px;
}
.dropdown-div{
    /* border: 1px solid black; */
    margin-left: 84%;
    margin-top: 15px;
}

.user-style{
    /* margin-left: 10px; */
    /* padding-left: 10px; */
    padding-bottom: 6px;
}
.nav-icon{
    width: 43px;
    height: 43px;
    padding-top: 6px;
}
.sunstone-paragrah{
    font-size:22px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 1%;
    /* padding-left: -10px; */
   /* text-size-adjust: medium; */
color: #1D1F24;
    /* font-family: poppins; */
    /* padding-top: 10px; */
    /* padding-bottom: 50px; */
}
.menu-list{
    width: 290px;
    /* height: 230px; */
    /* background-color: blue; */
}
.menu-profile{
    display: flex;
}
/* .menu-list{ */
    /* padding-right: 50px; */
    /* width:0px; */
/* } */

.dropdownnn{
    width: 500px;
    /* margin-left: 50% !important; */
    /* background-co/lor: aqua; */
}
.user-style-2{
    width: 35px;
    height: 35px;
    padding-top: 14px;
}
.alex{
    padding-left: 18px;
    /* margin-top: 1px; */
    /* padding-bottom: 13px; */
    font-size:14px;
    font-weight: 600;
   
    /* font-family: poppins; */
}
.alex-email{
    padding-left: 18px;
    margin-top: -10px;
    /* padding-bottom: 80px; */
    font-size:14px;
    font-weight: 500;
    color: #3A3D44;
    

}
.drawer{
    display: none;
}
.border-bottom{
    border-bottom: 1px solid #ECEFF3;
    /* padding-top: -80px; */
    margin-top: -12px;
    width: 210px;
    /* height: 12px; */
    margin-left: 11px;
    /* padding-left: 12px; */
}
.border-bottom-2{
    border-bottom: 1px solid #ECEFF3;
    /* padding-top: -80px; */
    margin-top: 4px;
    width: 210px;
    /* height: 12px; */
    margin-left: 11px;
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    background-color: #831c1c;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.2), 0px 16px 24px 2px rgba(0,0,0,0.14), 0px 6px 30px 5px rgba(0,0,0,0.12);
    overflow-y: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    z-index: 1200;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    outline: 0;
    left: 0;
    height: auto;
    /* margin-left: 50% !important; */
}
@media (max-width: 768px) {
    .drawer{
        background-color: #fff;
        color: blue;
        display: block;
        height: 51px;
        margin-left: 20px;
        margin-top: 20px;
        width: 63px;
        /* padding-left: 8px !important; */
        font-size: 2.4rem;
        text-align: center;}
   
  
    .color{
        display: none;
    }
    .sunstone-div{
        display: none;
    }
    .nav-icon{
        display: none;
    }
    .sunstone-paragrah{
        display: none;
    }
    .sunstone-div-drawer{
        display: block;
        display: flex;
    }
    
    .navbar{
        width: 374px;
        /* border: 1px solid black; */
    }
   .dropdown-div{
    display: flex;
    margin-left: 3px;
    /* width: 10px; */
    /* rotate: 20px; */
   }
 
   .css-15m8kzi {
    font-family: IBM Plex Sans,sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5;
  
    border-radius: 8px;
    color: white;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    cursor: pointer;
    background: #fff;
    border: 1px solid #DAE2ED;
    color: #1C2025;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
width: 120px !important;

    
}


   
}
   

